name: reusable goimports
on:
  workflow_call: {}
jobs:
  goimports:
    runs-on: ubuntu-latest
    steps:
      - if: ${{ startsWith(github.repository, 'GeoNet/') == false }}
        name: require GeoNet org
        run: |
          exit 1
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - uses: actions/setup-go@41dfa10bad2bb2ae585af6ee5bb4d7d973ad74ed # v5.1.0
        with:
          go-version-file: go.mod
          cache-dependency-path: go.sum
          check-latest: true
      - name: goimports
        id: goimports
        run: |
          go install golang.org/x/tools/cmd/goimports@latest
          BASE_CMD="find . -type f -name '*.go'"
          VENDOR_PATH_ARGS=$(for i in $(find . -type d -name vendor -exec test -e '{}'/modules.txt \; -print); do echo -n "-not -path \"$i/*\" "; done)
          eval $BASE_CMD $VENDOR_PATH_ARGS | xargs -I{} goimports -w {}
      - name: determine changes
        id: determine-changes
        run: |
          if git diff --name-only --diff-filter=ACMRT | grep -E '(.*).go$'; then
            echo "changes=true" >> $GITHUB_OUTPUT
          fi
      - name: fail on changes
        if: ${{ steps.determine-changes.outputs.changes == 'true' }}
        run: |
          echo "changes detected" >/dev/stderr
          echo "Please run 'eval "find . -type f -name '*.go'" $(for i in $(find . -type d -name vendor -exec test -e '{}'/modules.txt \; -print); do echo -n "-not -path \"$i/*\" "; done) | xargs -I{} goimports -w {}' and commit again."
          exit 1
