name: reusable go vet
on:
  workflow_call:
    inputs:
      setup:
        type: string
        required: false
        description: |
          shell commands to setup the go-vet environment
      go-version:
        default: oldstable
        type: string
        description: |
          Go version to use, see `actions/setup-go` for more information.
jobs:
  go-vet:
    runs-on: ubuntu-latest
    steps:
      - if: ${{ startsWith(github.repository, 'GeoNet/') == false }}
        name: require GeoNet org
        run: |
          exit 1
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - uses: actions/setup-go@0c52d547c9bc32b1aa3301fd7a9cb496313a4491 # v5.0.0
        with:
          go-version: ${{ inputs.go-version }}
          cache-dependency-path: go.sum
          check-latest: true
      - name: setup
        run: |
          eval '${{ inputs.setup }}'
      - name: vet
        id: vet
        run: go vet -v ./...
